<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">


    <div class="list card current-song">

      <div class="item item-image">
        <img ng-src="/img/Basketball.png">
      </div>

      <div class="item">
        <h2>Pickup Basketball</h2>
        <p>Friday, April 8 @ 3:30 PM</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-close"></i>
          Not Interested
        </a>
        <a class="tab-item">
          <i class="icon ion-heart"></i>
          Interested
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
