.navBar {
color:#FFFFFF!important;
background-color:#0B51D4!important;
 }
 
  
.navBarTitles {
color:#FFFFFF!important;
background-color:#0B51D4!important;
border:none!important;
font-family: 'Slabo 13px', serif;
 }
 
 .title.title-center.header-item {
background-color:#0B51D4!important;
margin:auto;
/* 0px!important; */
/* margin-left:0px!important; */

color: #ffffff!important;
width: auto;
font-family: 'Slabo 13px', serif;
}
    
.headerIcon {
color: #ffffff!important;       
}
          
.pageContent{
horizontal-alignment:center;
margin:auto;
display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width:100%;
}


.discoverCardBackground{
/* CardBackground: */
border: 1px solid #979797;
border-radius: 5px;
}
.discoverCard{
border: 1px solid #979797;
border-radius: 10px!important;
}

.profileImage{
-webkit-clip-path: circle(50% at 50% 50%);
 clip-path: circle(100px at center);
 max-width: 250px;
 margin-left:auto;
 margin-right:auto;
 horizontal-alignment:center;
 margin-top:24px;
}

.profilePageUsername{
font-family: 'Slabo 13px', serif;
font-size: 20px;
margin-top:16px;
margin-left:16px;
}

.profPageMore{
font-size: 24px!important;
left:16px;
bottom: 12px;
}

.profilePagePoints{
font-size: 16px!important;
}

.profilePageControls{
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  width:100%;
  margin:8px;
  margin-bottom:16px;
}

.profilePageControlLabel{
text-align:right;
max-width:24%;
}

.profilePageControlInput{
padding-right:48px;
padding-left:16px;
max-width:80%;
justify-content: flex-start;
}

.toggleLabel{
margin: 8px;
font-size: 14px;
}

.toggle{
top:8px;
}

.toggle input:checked + .track {
  border-color: #e65100 !important;
  background-color: #f57c00 !important;
}

.flex-item {
    margin:auto;
    width:100%;
}

/*  Buttons */

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button.md-cornered {
    border-radius: 0;
}

.btn1 {
  color : #FFFFFF;
  background-color: #F57C00;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  padding: 8px;
}

/* Objects & Containers */
.planCard {
margin: 8px;
padding: 8px;
}

.yourPlansDayHeader {
padding-top: 16px;
padding-left: 16px;
}

.createEventForm {
  margin:16px;
}

.createEventFormField {
border-right: 5px;
border-left: 5px;
border-top:none;
}

.createEventSubmit {
  margin-top:40px;
}

.eventActionButton {
float:right;
right:32px;
bottom:-32px;
overflow:visible;
background: $assertive;
  position: fixed;
  z-index: 9999;
}

.eventCard {
overflow:visible;
position:relative;
}

.emailUs{
	font-size:50px;
	background-color:blue;
}

.checkBox{
	float:left;
	margin: 20px;
}
.socialButton{
	display: inline-block;
	margin: 20px;
}