<ion-view view-title="Add Friend">
  <ion-content>
  <form ng-submit = "submitForm()" id = "eventForm">
		<div class="list">
		  <label class="item item-input item-stacked-label">
			<span class="input-label">First Name</span>
			<input type="text" placeholder="John">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Last Name</span>
			<input type="text" placeholder="Appleseed">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Extra Info (Optional)</span>
			<input type="text" placeholder="&quot;I like burritos&quot;">
		  </label>
		</div>
		<button class="button button-block button-positive addFriendButton" onclick="addFriendFunction()" href="#">
		  Add this friend
		</button>
  </form>
	  </ion-content>
	</ion-view>
