<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
	<div>
		<h5>What part of Flitter is broken?</h5>
		<div class="helpButton">
			<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>The other thing <br />
		</div>
		
		<div class="helpButton">
			<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>The thing <br />
		</div>
		
		<div class="helpButton">
			<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>The third thing <br />
		</div>
		
		<div class="helpButton">
			<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>Anotha One<br />
		</div>
		
		<a class="tab-item helpButton" ng-click = "newEvent()">
          <i class="icon ion-heart" ></i>
          Button
        </a>
		
		<a class="tab-item helpButton" ng-click = "newEvent()">
          <i class="icon ion-transgender" ></i>
          Button
        </a>
		
		<a class="tab-item helpButton" ng-click = "newEvent()">
          <i class="icon ion-transgender" ></i>
          Button
        </a>
	</div>
	
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-email"></i>
          Email Us
        </a>
	</div>
	
  </ion-content>
</ion-view>
