<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
	<div>
		<h5 style="margin:10px">What part of Flitter is broken?</h5>
		<div style="float:left">
			<div class="checkBox">
				<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>Event Creation<br />
			</div>
			
			<div class="checkBox">
				<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>Event Finding<br />
			</div>
			
			<div class="checkBox">
				<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>My Plans Page<br />
			</div>
			
			<div class="checkBox">
				<input style="display:inline" type="checkbox" name="animal" value="Cat" class="helpButton"/>My Friends<br />
			</div>
		</div>

		<br>
		
		<div>
			<label class="createEventFormField item item-input item-floating-label"> <span class="input-label">Title</span> <input type="text" placeholder="Select one or more and type here" ng-model="party.title"> </label>
		</div>
		
		<div>
			<button>Send</button>
		</div>
		
		<a href="http://google.com" target="_blank" class="tab-item socialButton" ng-click = "newEvent()" target="_blank">
          <i class="icon ion-social-facebook" ></i>
          Facebook
        </a>
		
		<a href="http://google.com" target="_blank" class="tab-item socialButton" ng-click = "newEvent()">
          <i class="icon ion-social-twitter" ></i>
          Twitter
        </a>
		
		<a href="http://google.com" target="_blank" class="tab-item socialButton" ng-click = "newEvent()">
          <i class="icon ion-social-facebook" ></i>
          LinkedIn
        </a>
	</div>
	
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-email"></i>
          Email Us
        </a>
	</div>
	
  </ion-content>
</ion-view>
