<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>
	<div>
		<h5 style="margin:10px">Anything Wrong With Flitter?</h5>
		
		<div id="ck-button">
		   <label>
			  <input type="checkbox" value="1"><span>My Flitter Feed</span>
		   </label>
		</div>
		
		<div id="ck-button">
		   <label>
			  <input type="checkbox" value="1"><span>Event Creation</span>
		   </label>
		</div>
		
		<div id="ck-button">
		   <label>
			  <input type="checkbox" value="1"><span>My Friends list</span>
		   </label>
		</div>
		
		<div id="ck-button">
		   <label>
			  <input type="checkbox" value="1"><span>My Plans</span>
		   </label>
		</div>
		
		<div>
			<label class="createEventFormField item item-input item-floating-label"> <span class="input-label">Title</span> <input type="text" placeholder="Select one or more and type here" ng-model="party.title"> </label>
		</div>
		
		<div>
			<button>Send</button>
		</div>
		
		<a href="https://www.facebook.com/" style="color:#3b5998" target="_blank" class="tab-item socialButton" ng-click = "newEvent()" target="_blank">
          <i class="icon ion-social-facebook" style="color:#3b5998" ></i>
          Facebook
        </a> 
		
		<a href="https://twitter.com/" style="color:#4099FF" target="_blank" class="tab-item socialButton" ng-click = "newEvent()">
          <i class="icon ion-social-twitter" style="color:#4099FF"></i>
          Twitter
        </a>
		
		<a href="https://www.instagram.com/" style="color:#9b6954" target="_blank" class="tab-item socialButton" ng-click = "newEvent()">
          <i class="icon ion-social-instagram" style="color:#9b6954"></i>
          Instagram
        </a>
	</div>
	
	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-email"></i>
          Email Us Directly
        </a>
	</div>
	
  </ion-content>
</ion-view>
