<ion-view view-title="Event Creation">
  <ion-content class="padding">
   <form ng-submit = "submitForm()">
      
   
        <input type="text" id = "title" placeholder="Title" ng-model="party.title">
        <input type="text" placeholder="date"id="date" ng-model="party.date">
		<input type="text" placeholder = "time"id = "time"  ng-model="party.time">
        <input type="text"id="description" placeholder="Description" ng-model="party.description">
		<input type = "submit" name = "Submit">
    </form>
  </ion-content>
</ion-view>