<ion-view view-title="Event Creation">
  <ion-content class="padding">
   <form ng-submit = "submitForm()"  class="createEventForm" id = "eventForm">
      <div class="list"> 
      	
      	<label class="createEventFormField item item-input item-floating-label"> 
      		<span class="input-label">Title</span> 
      		<input type="text" placeholder="Title" ng-model="party.title"> 
		</label>
		
		   <div class="createEventSubmit">
     <button class="button button-block button-calm"  <input type = "submit" name = "Submit"> Submit </button>
   </div>
    </form>
  </ion-content>
</ion-view>