<ion-view view-title="Discover" class="discover-tinder-page">
  <ion-content scroll="false">

    <ion-pane ng-controller="CardsCtrl">

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}} discoverCardBackground">
          
		  <div class="discoverCardTitle">
		  	{{card.title}}
		  </div>

		 <div class="image" ng-controller="CardCtrl">
			<div class="no-text">NOPE</div>
			 <a href="{{card.toGo}}"><img class="discoverCardImage" ng-src="http://localhost:3000{{card.image}}"></a>
			<div class="yes-text">LIKE</div>
		  </div>
		  
		  <div class="discoverCardData"> 
		  	<span class="discoverCardLabel">When:</span>
		  	<span class="discoverCardEventData">{{card.time}}, {{card.date}}</span>
		  </div>
		  
		  <div class="discoverCardData"> 
		  	<span class="discoverCardLabel">Where:</span>
		  	<span class="discoverCardEventData">{{card.location}}</span>
		  </div>
		  
		  <div class="eventListCardLower">
			  
			  <div class="eventListCardLowerDataComing">
				<a class="eventListCardLowerData">
				  <i class="icon ion-ios-color-filter-outline"></i>
				  77 Coming
				</a>
				<a class="eventListCardLowerData">
				  <i class="icon ion-ios-contact-outline" ></i>
				  5 Friends
				</a>
			  </div>
  
		  </div>
		
        </td-card>
      </td-cards>
      
          
    <div class="discoverBottomControls">
    	<img src="/img/combinedShape.png" class="discoverBottomBackground">
    	<div class="discoverBottomButtons">
			<img src="/img/flitterButton.png" class="discoverBottomFlitter" ng-click="addCard()">
			<img src="/img/passButton.png" class="discoverBottomPass" ng-click="addCard()">
			<img src="/img/favoriteButton.png" class="discoverBottomFavorite" ng-click="addCard()">
		</div>
    </div>
      
    </ion-pane>



  </ion-content>
</ion-view>
