<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

<ion-pane>

      <td-cards>
        <td-card ng-repeat="Events in eventslol" on-destroy="cardDestroyed($index)" on-swipe-left="newEvent()" on-swipe-right="newEvent()" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}} discoverCardBackground">
          
		  <div class="discoverCardTitle">
		  	{{Events.title}}
		  </div>

		  <div class="image" ng-controller="CardCtrl">
			<div class="no-text">NOPE</div>
			<a href="" id ="currentEvent"><img class="discoverCardImage" ng-src="http://localhost:3000{{Events.image}}" ng-click="goTo()"></a>
			<div class="yes-text">LIKE</div>
		  </div>
		  
		  <div class="discoverCardData"> 
		  	<span class="discoverCardLabel">When:</span>
		  	<span class="discoverCardEventData">{{Events.date}} {{Events.time}}</span>
		  </div>
		  
		  <div class="discoverCardData"> 
		  	<span class="discoverCardLabel">Where:</span>
		  	<span class="discoverCardEventData">{{Events.location}}</span>
		  </div>
		  
		  <div class="item tabs tabs-secondary tabs-icon-left" style="background-color:#fff3e0; border:none; border-radius:10px;">
			<a class="tab-item" style="background-color:#fff3e0; border:none;">
			  <i class="icon ion-ios-color-filter-outline" ></i>
			  77 Coming
			</a>
			<a class="tab-item" style="background-color:#fff3e0">
			  <i class="icon ion-ios-contact-outline" ></i>
			  5 Friends
			</a>
		  </div>
		
        </td-card>
      </td-cards>
      
          
    <div class="discoverBottomControls">
    	<img src="/img/combinedShape.png" class="discoverBottomBackground">
    	<div class="discoverBottomButtons">
			<img src="/img/flitterButton.png" class="discoverBottomFlitter" ng-click = "newEvent()">
			<img src="/img/passButton.png" class="discoverBottomPass" ng-click = "newEvent()">
			<img src="/img/favoriteButton.png" class="discoverBottomFavorite" ng-click = "newEvent()">
		</div>
    </div>
      
    </ion-pane>

  </ion-content>
</ion-view>
