<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

    <div class="list card current-song">

      <div class="item">
        <h2>Pickup Basketball negro</h2>
        <p>Friday, April 8 @ 3:30 PM</p>
      </div>

      <div class="item item-image">
        <img ng-src="/img/Basketball.png">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          47 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          6 Friends
        </a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-href="#/app/discover">
          <i class="icon ion-close"></i>
          Pass
        </a>
        <a class="tab-item" ng-href="#/app/discover">
          <i class="icon ion-heart" ></i>
          Interested
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
