<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

    <div class="list card current-song">

      <div class="item">
        <h2>Books, Brews and BBQ spring fundraiser</h2>
        <p>	Saturday, May 21 @ 6 PM</p>
      </div>

      <div class="eventImage item item-image">
        <img ng-src="/img/bbq.jpg">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          77 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          5 Friends
        </a>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click ="go('app/discover2')">
          <i class="icon ion-close" ></i>
          Pass
        </a>
        <a class="tab-item"ui-sref ="app.discover2">
          <i class="icon ion-heart" ></i>
          Interested
        </a>
      </div>

    </div>


  </ion-content>
</ion-view>
