<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

      <div class="pageContent" ng-repeat="Events in eventslol">
        <div class="eventPageTitle"> {{Events.title}}</div>
        
	

	<img class="eventImage" ng-src="/img/bbq.jpg">
   
     <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          77 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          5 Friends
        </a>
      </div>
   
   <div class="profilePageControls">
			
			<div flex class="flex-item profilePageControlLabel" layout="row" layout-fill>
				Description:
		  	</div>
	   <span flex class="flex-item eventCardPageData" layout="row" layout-fill>
		   {{Events.description}}
		</span>
	</div>
	
	<div class="profilePageControls">
		
		<div flex class="flex-item profilePageControlLabel" layout="row" layout-fill>
				When:
		  	</div>
	   <span flex class="flex-item eventCardPageData" layout="row" layout-fill>
		   {{Events.date}} , {{Events.time}}
		</span>
	</div>
	
	<div class="profilePageControls">
		
		<div flex class="flex-item profilePageControlLabel" layout="row" layout-fill>
				Where:
		  	</div>
	   <span flex class="flex-item eventCardPageData" layout="row" layout-fill>
		   {{Events.location}}
		</span>
		
	</div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-close" ></i>
          Pass
        </a>
        <a class="tab-item" ng-click = "newEvent()">
          <i class="icon ion-heart" ></i>
          Interested
        </a>
      </div>

</div>


  </ion-content>
</ion-view>