<ion-view view-title="Discover" class="discover-page">
  <ion-content scroll="false">

      <div ng-repeat="Events in eventslol">
        <h2> {{Events.title}}</h2>
        
	

	<img ng-src="/img/bbq.jpg" height = "200px" width = "300px">
   
     <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          77 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          5 Friends
        </a>
      </div>
   
   <p>
  
   {{Events.description}}
</p>

<p>When: {{Events.date}} , {{Events.time}}</p>
<p>Where: Collegeville Park</p>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-close" ></i>
          Pass
        </a>
        <a class="tab-item" ng-click = "newEvent()">
          <i class="icon ion-heart" ></i>
          Interested
        </a>
      </div>

</div>


  </ion-content>
</ion-view>