<ion-view view-title="Books, Brews, and..." class="discover-page">
  <ion-content scroll="false">

      
        <h2> Books, Brews and BBQ spring fundraiser</h2>
        
	

	<img ng-src="/img/bbq.jpg" height = "200px" width = "300px">
   
     <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          77 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          5 Friends
        </a>
      </div>
   
   <p>
  
   Come have a good time at our annual Books, Brews, and BBQ spring fundraiser! All are welcome to come.
</p>

<p>When: Saturday, May 21 @ 6 PM</p>
<p>Where: Collegeville Park</p>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click = "newEvent()" >
          <i class="icon ion-close" ></i>
          Pass
        </a>
        <a class="tab-item" ng-click = "newEvent()">
          <i class="icon ion-heart" ></i>
          Interested
        </a>
      </div>




  </ion-content>
</ion-view>