<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="navBar bar-stable ">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon headerIcon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-notifications headerIcon" menu-toggle="right">
        </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="navBar bar-stable">
      <h1 class="title navBarTitles">Flitter</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      <ion-item menu-close href="#/app/discover" >
          Discover
        </ion-item>
        <ion-item menu-close href="#/app/yourPlans" >
          Your Plans
        </ion-item>
        <ion-item menu-close href="#/app/createEvent" >
          Create New
        </ion-item>
        <ion-item menu-close href="#/app/profilePage" >
          Profile
        </ion-item>
        <ion-item menu-close href="#/app/yourFriends" >
          Your Friends
        </ion-item>
		<ion-item menu-close href="#/app/contactUs" >
          Contact Us
        </ion-item>
        <ion-item menu-close href="#/app/discoverTinder" >
          Discover-Tinder
        </ion-item>
        <ion-item menu-close href="#/app/yourPlansNew" >
          Your Plans-New
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="navBar bar-stable">
      <h1 class="title navBarTitles">Notifications</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="">
          <h3>Upcoming Plan</h3>
            <h4>Pickup Basketball</h4>
        <p style="float:left">Friday, April 8 @ 3:30 PM</p>
        <i class="icon ion-close deleteEventTag" style="float:right"></i>
        </ion-item>
        <ion-item menu-close href="">
          <h3>New Comment by Johnny B. Good</h3>
            <h4>Reimert with the Squad</h4>
        <p style="float:left">Saturday, April 9 @ 9:30 PM</p>
		<i class="icon ion-close deleteEventTag" style="float:right"></i>
        </ion-item>
        <ion-item menu-close href="">
          <h3>Plan Accepted by Alissa Jupiter</h3>
            <h4>Design Class with AMC!</h4>
        <p style="float:left">Monday, April 11 @ 6:00 PM</p>
		<i class="icon ion-close deleteEventTag" style="float:right"></i>
        </ion-item>
        <ion-item menu-close href="">
          <h3>Chuck Bryant Passed on your Plan</h3>
            <h4>Pregame Throw-Down before Reimert</h4>
        <p style="float:left">Saturday, April 9 @ 6:00 PM</p>
		<i class="icon ion-close deleteEventTag" style="float:right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
