<ion-view view-title="Profile Page">
  <ion-content>
	  <div class="pageContent">

		<img class="profileImage" src="/img/profPic.jpg">
		<div class="profilePageUsername">@jamauer
			<button class="profPageMore button button-icon icon" ng-click="openPopover($event)">
			<i class="ion-android-more-vertical"></i>
			</button>
		</div>
		<div class="profilePagePoints">2,467 points</div>
		<br>
		<div class="profilePageControls">
			
			<div flex class="flex-item profilePageControlLabel" layout="row" layout-fill>
				Account Privacy
		  	</div>
		  	
		  	<div flex class="flex-item profilePageControlInput" id="accountPrivacy" layout="row" layout-fill>
					<span class="toggleLabel">Public</span>
					<label class="toggle">
					   <input type="checkbox">
					   <div class="track">
						 <div class="handle"></div>
					   </div>
					</label>
					<span class="toggleLabel">Private</span>
				</div>
		</div>
		<div class="profilePageControls">

				<div flex class="flex-item profilePageControlLabel" layout="row" layout-fill>
				Discovery Radius
		  		</div>
		  	
		  	<div flex class="flex-item profilePageControlInput" id="accountPrivacy" layout="row" layout-fill>
				<div class="range range-positive">
					<span class="toggleLabel">0 mi.</span>
					<input type="range" name="radius" min="0" max="100" value="33">
				
					<span class="toggleLabel">50 mi.</span>
				  </div>
				  
			</div>
				
			
		</div>

	</div>

<script id="popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Profile Settings</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
            <a class="item" href="" target="_blank">
              Change Picture
            </a>
            <a class="item" href="" target="_blank">
              Logout
            </a>
	  </div>
    </ion-content>
  </ion-popover-view>
</script>
	
  </ion-content>
</ion-view>
