<ion-view view-title="Your Friends">
  <ion-content scroll="true">
	<h1>Your Friends</h1>
	<a class="button button-block button-positive addFriendButton" href="#/app/addFriend">
	  Add a Friend
	</a>
	<div class="list">
		<a class="item item-avatar" href="#">
			  <img src="/img/rocky.png">
			  <h2>Rocky Balboa</h2>
			  <p>AADRRRIIIAAAANNNN</p>
		</a>
		
		<a class="item item-avatar" href="#">
			  <img src="/img/chairguy.jpg">
			  <h2>Couch Guy</h2>
			  <p>I sure do love couches</p>
		</a>
		
		<a class="item item-avatar" href="#">
			  <img src="/img/homework.jpg">
			  <h2>Algorithms Homework</h2>
			  <p>Nodes Nodes Nodes</p>
		</a>

	</div>
	 
  </ion-content>
</ion-view>
</ion-view>
