<ion-view view-title="Your Friends">
  <ion-content scroll="true">
	<h1>Your Friends</h1>
	<a class="button button-block button-positive addFriendButton" href="#/app/addFriend">
	  Add a Friend
	</a>
	<div class="list">
		<div class="item item-avatar">
			  <img src="/img/rocky.png">
			  <h2>Rocky Balboa</h2>
			  
			  <p style="float:left">AADRRRIIIAAAANNNN</p>
			  
			  <a class="icon ion-close deleteEventTag" style="float:right" href="#"></a>
		</div>
		
		<div class="item item-avatar" href="#">
			  <img src="/img/chairguy.jpg">
			  <h2>Couch Guy</h2>
			  <p style="float:left">I sure do love couches</p>
			  
			  <a class="icon ion-close deleteEventTag" style="float:right" href="#"></a>
		</div>
		
		<div class="item item-avatar" href="#">
			  <img src="/img/homework.jpg">
			  <h2>Algorithms Homework</h2>
			  <p style="float:left">Nodes Nodes Nodes</p>
			  
			  <a class="icon ion-close deleteEventTag" style="float:right" href="#"></a>
		</div>

	</div>
	 
  </ion-content>
</ion-view>
</ion-view>
