<ion-view view-title="Your Plans">
  <ion-content scroll="true">

<h1 class="yourPlansDayHeader">Today</h1>

    <div class="list">
    	<div class="card current-song">

      <div class="item">
        <h2>Pickup Basketball</h2>
        <p>Friday, April 15 @ 3:30 PM</p>
      </div>

      <div class="item item-image planCard">
        <img ng-src="/img/Basketball.png">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          47 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          6 Friends
        </a>
      </div>
      </div>

<h1 class="yourPlansDayHeader">Upcoming</h1>
	
	<div class="card current-song">
            <div class="item planCard">
        <h2>McCoole's Beer Festival</h2>
        <p>Saturday, April 30 @ 12 PM</p>
      </div>

      <div class="item item-image">
        <img ng-src="/img/mbf.jpg">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          199 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          5 Friends
        </a>
      </div>
	</div>
	
	
	      <div class="card current-song">   
            <div class="item planCard">
        <h2>Lehigh Valley Food Truck Festival</h2>
        <p>Saturday, May 14 @ 1:30 PM</p>
      </div>

      <div class="item item-image">
        <img ng-src="/img/lhv.jpg">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-color-filter-outline"></i>
          58 Coming
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-contact-outline"></i>
          12 Friends
        </a>
      </div>
	</div>
	
	
    </div>


  </ion-content>
</ion-view>
</ion-view>
